<!doctype html>
<html lang="en" ng-app="Checklist">
<head>
	<meta charset="utf-8">
	<title>Cheklister</title>

	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door|Gloria+Hallelujah|Loved+by+the+King|Zeyada' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/main.css">


	<script src="/static/lib/angular/angular.js"></script>
	<script src="/static/lib/angular/angular-resource.js"></script>

	<script src="/static/js/app.js"></script>
	<script src="/static/js/controllers.js"></script>
 	<script src="/static/js/services.js"></script>

	<script src="/static/lib/jquery/jquery.min.js"></script>
	<script src="/static/lib/bootstrap/bootstrap.min.js"></script>
</head>
<body>

	<header class="header text-center">
		<h1 class="title">Cheklistr</h1>
		<h1><small>by Thomas Peterson</small></h1>
	</header>

	<div>
		<div id="main" ng-view>
		</div>
	</div>
</body>
</html>