<div>
	<div class="intro text-center">
		<p>Welcome to Cheklistr, the smart checklist tool! </p>
		<p>Do you habitually check off the easiest things on your to-do list? </p>
		<p>Cheklistr weights your tasks with a priority level, so you can see how much of your work you've <em>actually</em> done.</p>
		<p>Higher weighted items are worth more of your total percentage.</p>
	</div>

	<div class="checklist">
		<input id="list-title" type="text" value="{{ list_title }}">

		<form>
			<div id="new-priority">
				<input id="new-item-text" type="text" ng-model="new_item.text"> 
				<div id="pri-buttons" class="btn-group">
					<button id="p-1-add" class="btn btn-default pri-button" ng-click="addItem(1)">1</button>
					<button id="p-2-add" type="submit" class="btn btn-default pri-button" ng-click="addItem(2)">2</button>
					<button id="p-3-add" class="btn btn-default pri-button" ng-click="addItem(3)">3</button>
					<button id="p-4-add" class="btn btn-default pri-button" ng-click="addItem(4)">4</button>
					<button id="p-5-add" class="btn btn-default pri-button" ng-click="addItem(5)">5</button>
				</div>
			</div>
		</form>

		<div class="progress-container">
			<div class="progress-bar" style="width: {{ percentComplete() }}%;">
			</div>
		</div>

		<h4 class="text-center">{{ numComplete() }} {{ itemPlural() }} completed : {{ percentComplete() }}% done!</h4>

		<div ng-repeat="item in items">
			<p class="item">
				<input type="checkbox" ng-model="item.complete">
				<input id="item-text" class="complete-{{ item.complete }} pri_{{ item.priority }}" type="text" value="{{ item.text }}">
				<button ng-click="deleteItem($index)" class="delete-button">x</button>
			</p>
		</div>

	</div>
</div>